* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
}

.container {
    margin: 0;
    text-align: center;
}


.nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 15px 7%;
    transition: 0.5s;
}

.site-title {
    font-size: 3rem;
    text-decoration: none;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    text-align: center;
    flex: 1;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: inline-block;
    margin: 10px 20px;
    align-items: center;
    font-size: 18px;
    padding: .25rem;
    cursor: pointer;
}

.toggle-icon {
    width: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.shopping-cart-logo{
    height: auto;
    cursor: pointer;
    margin-left: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}

/* Format featured products into a horizontal row */
.featured-products {
    overflow-x: auto; /* adjust in case the width exceeds box */
    white-space: nowrap; /* do not wrap into the next line */
}

/* Format products into a horizontal row */
.product {
    width: 100%; /* Ensure each product takes up full width of its column */
}

/* Ensure images fill their containers */
.product img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}

/* Icon placement */
.logo-search {
    display: flex; /* stay in row next to search bar */
    justify-content: center; /* place entire row on center */
}

/* Style for the search bar */
.logo-search input[type="text"] {
    width: 300px; /* adjusts width */
    padding: 5px; /* adjust height */
    border: 2px solid #ccc; /* add a border */
    margin-left: 10px; /* create 10 spaces between icon */
  }