* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
}

.container {
    margin: 0;
    text-align: center;
}


.nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 15px 7%;
    transition: 0.5s;
}

.site-title {
    font-size: 3rem;
    text-decoration: none;
    font-family: fantasy;
    white-space: nowrap;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    text-align: center;
    flex: 1;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    margin: 10px 20px;
    align-items: center;
    font-size: 18px;
    padding: .25rem;
    cursor: pointer;
    white-space: nowrap;
}

.toggle-icon {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}

.nav .shopping-cart-logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: 50px;
    cursor: pointer;
}

.search-box {
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 150px;
}

.search-box input::placeholder {
    color: white;

}

.search-box img {
    width: 20px;
    cursor: pointer;
}

.dark .nav{
    background: #000;
    color: #fff;
}

.dark .search-box {
    background: #fff;
}

.dark .search-box input{
    color: #222;
}
.dark .search-box input::placeholder{
    color: #222;
}

.dark .app {
    color: white;
}

.dark .about {
    color: white;
}

.dark .contact {
    color: white;
}

.dark .tech {
    color: white;

}

.dark .furniture {
    color: white;

}

.dark .clothing {
    color: white;

}

/* Format featured products into a horizontal row */
.featured-products {
    overflow-x: auto; /* adjust in case the width exceeds box */
    white-space: nowrap; /* do not wrap into the next line */
}

/* Format products into a horizontal row */
.product {
    display: inline-block; /* display products in a row */
    margin-right: 10px; /* 10 spacing between each product */
}




